# Gitingore

# Ignore vscode folder except for common project settings (linters etc)
.vscode/*
!.vscode/settings.json

# the inputs for the pdfreader include some large tables and shapefile
/Flask/report_builder/inputs/*.csv
/Flask/report_builder/inputs/*.shp

# General outputs
*.pdf

# tool output
/route_*.*
/Flask/route_*.*
/Flask/output/*
/Flask/output
/public/*.dbf
/public/*.prj
/public/*.shp
/public/*.shx
/public/*.zip
output
Flask/user_uploads
Flask/sessions

# pycharm settings folder
.idea/*

# rasters
*.tif

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# pyinstaller
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# added by anti-lfs script
node_modules/.cache/default-development/0.pack
Flask/report_builder/inputs/10km_SpatialJoin_42_51_55_59_28.csv
Flask/report_builder/inputs/tract_base.shp
/Flask/build