# Gitingore

# Ignore vscode folder except for common project settings (linters etc)
.vscode/*
!.vscode/settings.json

# the inputs for the pdfreader include some large tables and shapefile, in order of size
/Flask/report_builder/inputs/tract_base.shp
/Flask/report_builder/inputs/data_by_10km_grid.csv
/Flask/report_builder/inputs/data_by_census_tract.csv
/Flask/report_builder/inputs/vg_base.shp

# General outputs
*.pdf
!Flask/report_builder/inputs/reference_sheet.pdf

# cache stuff
Flask/__pycache__
__pycache__

# tool output
/route_*.*
/Flask/route_*.*
/Flask/output/*
/Flask/output
/public/*.dbf
/public/*.prj
/public/*.shp
/public/*.shx
/public/*.zip
output
Flask/user_uploads
local_scripts

# Cant have empty folders in git, so add empty file
Flask/sessions/*
!Flask/sessions/.gitkeep

# pycharm settings folder
.idea/*

# rasters - commented out for now, all rasters are under 50MiB
# *.tif 

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# pyinstaller
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# added by anti-lfs script
Flask/report_builder/inputs/10km_SpatialJoin_42_51_55_59_28.csv
Flask/report_builder/inputs/tract_base.shp
/Flask/build
