# Gitingore

# Ignore vscode folder except for common project settings (linters etc)
.vscode/*
!.vscode/settings.json

# pycharm settings folder
.idea/*

# rasters
*.tif

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
